@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
	overflow: hidden;
	background:	url('../img/bg.jpg') no-repeat center center;
	background-size: cover;
	backdrop-filter: blur(7px);
}

* {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	color: #363636;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}

.content {
	margin: 0 auto;
	width: 720px;
	height: 440px;
	display: flex;
}

.banner {
	height: 100%;
	width: 350px;
	background: rgb(0, 0, 0, 0.4);
	border-radius: 20px 0 0 20px;
}

.banner * {
	margin: 40px;
	color: #ccc;
}

.form {
	height: 100%;
	width: 300px;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0 20px 20px 0;
	position: relative;
}

.topic{
    font-size: 20px;
    color: cornflowerblue;
	text-decoration: underline;
}

.form img {
	margin-top: 0px;
	height: 130px;
	border-radius: 50%;
}

p,a {
	font-size: small;
    color: #1663be;
}

#r {
	position: absolute;
	bottom: 20px;
}

input {
	margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
	width: 212px;
	height: 32px;
	border: 2px solid #ccc;
	color: #000;
	font-weight: bold;
	border-radius: 20px;
	text-align: center;
}

input:focus {
	outline: 0;
	transition: 0.8s;
	border: 2px solid #646464;
}

::placeholder {
	color: #181818;
	position: absolute;
	top: 7px;
	left: 10px;
}

/*input:focus ~ input[type="email"]::placeholder {
	color: black;
	position: absolute;
	top: 7px;
	left: 10px;
}*/

input:focus::placeholder {
	color: transparent;
	transition: 0.2s ease-in-out;
}

::-ms-reveal {
	filter: invert(100%);
}

button {
	width: 220px;
	height: 38px;
	border: 2px solid #142b54;
	background: #142b54;
	color: #fff;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button:active {
	transform: scale(1.05);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.failed {
	margin-top: -20px;
	color: red;
	animation: invalid linear;
	animation-duration: 0.2s;
	animation-iteration-count: 5;
	display: none;
}

@keyframes invalid {
	0% {
		margin-left: -10px;
	}
	50% {
		margin-left: 10px;
	}
	100% {
		margin-left: 0;
	}
}

.user-report{
	width: 100%;
	background-color: white;
	background-size: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.information{
	width: 30%;
	min-width: 400px;
	height: fit-content;
	background: linear-gradient(to left,rgb(170, 167, 167) 1%, rgb(252, 252, 252) 90%);
	margin-left:4px;
	margin-top: 4px;
	margin-right: 4px;
	border-radius: 10px;
	border-top: 5px solid rgb(38, 38, 38);
	float: left;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
	box-shadow: 0 0 4px;
}

.information .row1 {
	width: 30%;
	min-width: 400px;
	display: flex;
}

.information .row1 div {
	width: 50%;
	float: left;	
}

.information .row1 div:nth-child(even) {
	margin-top: 0px;
}

.picture{
	width: 45%;
	height: 20vh;
	background-color: #f6f9fb;
	border-radius: 100%;
	display: flex;
	margin-bottom: 10px;
}
.st1{
	color: black;
}
.h1{
	margin-left: 5%;
	color: black;
}

.full-details{
	display: flex;
	width: 31%;
	min-width: 450px;
	height: fit-content;
	align-items: center;
	flex-direction: column;
	margin-top: 4px;
}

.full-details .my-details{
	width: 30%;
	min-width: 400px;
	height: fit-content;
	background-color: rgb(247, 245, 245);
	border-radius: 6px;
	box-shadow: 0 0 10px;
}
	
.full-details .my-details .col1{
	width: 100%;
}

.full-details .my-details .col1 div{
	width: 49%;
	min-height: 50px;
	height: fit-content;
	background-color: rgb(240, 245, 245) ;
	float: left;
	margin-top: 4px;
	margin-left: 0.5%;
	border-top:#646464 solid 2px;
}

.full-details .my-details .col1 div:nth-child(odd) {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.full-details .my-details .col1 div:nth-child(odd) p {
	color: black;
}

.full-details .my-details .col1 div:nth-child(even) {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	margin-left: -2px;
}

.full-details .my-details .col1 div:nth-child(2){
	background-color: #f9fafb;
}

.full-details .detailsButton {
	width: 60%;
	min-width: 400px;
	height: 40px;
	background-color: white;
	border-radius: 7px;
	padding-top: 10px;
	display: flex;
}

.none {
	width: 100px;
	height: 100%;
	background-image: linear-gradient(to left bottom, rgb(246, 237, 237), rgb(202, 202, 202));
	margin-left: 3px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.status {
	width: 100px;
	height: 100%;
	background-image: linear-gradient(to left bottom, rgb(246, 237, 237), rgb(202, 202, 202));
	margin-left: 3px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-top: 2px solid black;
}

.mother-details, .father-details, .guardian-details {
	display: none;
}

.information .row1 div {
	border-top: solid 2px rgb(95, 95, 95);
}

.information .row1:hover{
	box-shadow: 0 0 10px;
	background-image: linear-gradient(rgb(140, 140, 140), white);
	border-radius: 7px;
}

.sports {
	width: 90%;
	height: fit-content;
	background-image: linear-gradient(to left, gray, white);
	border-radius: 10px;
	box-shadow: 0 0 10px;
	margin-bottom: 20px;
}

.contact {
	min-width: 400px;
	height: 150px;
	background-color: #d8d8da;
	margin-top: 20px;
	border-radius: 6px;
	box-shadow: 0 0 4px;
	margin-bottom: 20px;
}

.contact .heading {
	margin: 4px 8px;
	font-size: 2em;
	width: 100%;
	text-decoration: underline;
}

.contact .box {
	width: 100%;
	height: 40px;
	display: flex;
	float: left;
}

.contact .box .contact-details {
	width: 50%;
	height: 100%;
	margin: 4px 4px;
}

.details::-webkit-scrollbar {
	width: 3px;
	height: 12px;
	background-color: #000;
}

.details::-webkit-scrollbar-thumb {
	background: linear-gradient(black, maroon);
	border-radius: 8px;
}

@media (max-width: 720px) {
	.banner {
		display: none;
	}
	.content {
		display: flex;
		justify-content: center;		
	}

	.form {
		border-radius: 20px;
	}
	.container .section .panel {
		display: none;
	}
}